@model Thesis.Models.DailyMenuDetail

@{
    ViewBag.Title = "Menüelem törlése";
}

<h2>Törlés</h2>

<h3>Biztos, hogy törölni szeretné a következő tételt?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DailyMenuHead.MenuDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyMenuHead.MenuDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dish.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dish.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dish.DishCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dish.DishCategory.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Törlés" class="btn btn-default" />
            @Html.ActionLink("Vissza a menühöz", "Index", null, new { @class="btn btn-default"})
        </div>
    }
</div>
