@model IEnumerable<Thesis.Models.DailyMenuDetail>

@{
    ViewBag.Title = "Napi menü";
}

<h2>Mai menü</h2>
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button id="dishCategoryNavbarButton" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".menu2">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Mind", "Index", "DailyMenuDetails", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse menu2">
            <ul class="nav navbar-nav">
                @foreach (var dc in ViewBag.DishCategoryList)
                {
                    <li>@Html.ActionLink((dc as Thesis.Models.DishCategory).Name, "Index", new { dishCategory = (dc as Thesis.Models.DishCategory).ID })</li>
                }
            </ul>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Étel hozzáadása menühöz", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DailyMenuHead.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dish.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dish.DishCategory.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DailyMenuHead.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dish.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dish.DishCategory.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
