@model IEnumerable<Thesis.Models.Dish>

<p>
    @Html.ActionLink("Új étel", "DishCreate", "Home", new { @class = "btn btn-primary btn-lg" } )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DishCategory.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DishCategory.Name)
        </td>
        <td>
            @Html.ActionLink("Módosítás", "DishEdit", new { dishID=item.ID }) |
            @Html.ActionLink("Törlés", "DishDelete", new { dishID=item.ID })
        </td>
    </tr>
}

</table>
