@model IEnumerable<Thesis.Models.Company>

@{
    ViewBag.Title = "Cégek";
}

<h2>Cégek listája</h2>

<p>
    @Html.ActionLink("Új cég hozzáadása", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level.Name)
        </td>
        <td>
            @Html.ActionLink("Módosítás", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Részletek", "Details", new { id=item.ID }) |
            @Html.ActionLink("Törlés", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
