<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Érdi Étterem</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button id="mainNavbarButton" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Kezdőlap", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse main-menu">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ételek", "Index", "Dishes")</li>
                    <li>@Html.ActionLink("Cégek", "Index", "Companies")</li>
                    <li>@Html.ActionLink("Szobák", "Index", "Rooms")</li>
                    <li>@Html.ActionLink("Napi menü összeállítása", "Index", "DailyMenuDetails")</li>
                    <li>@Html.ActionLink("Rendelés", "Index", "Orders")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Óbudai Egyetem Neumann János Informatikai Kar</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
