@model Thesis.Models.Order

@{
    ViewBag.Title = "Tétel törlése";
}

<h2>Tétel törlése</h2>

<h3>Biztosan törölni szeretné az alábbi tételt?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dish.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dish.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Törlés" class="btn btn-default" /> |
            @Html.ActionLink("Vissza a rendelésekhez", "Index")
        </div>
    }
</div>
